@charset "utf-8";*{margin:0;padding:0;border:0;outline:0;background:transparent;}
article, aside, figure, footer, header, hgroup, nav, section{display:block;}
object, embed{max-width:100%;}
ul{margin:0px; list-style:none;}
a{border:none;margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;}
img{border:none;}
:focus{outline:0;}
table{border-collapse:collapse;border-spacing:0;}
th{font-weight:bold;vertical-align:bottom;}
td{font-weight:normal;vertical-align:top;}
input, select{vertical-align:middle;}
a:hover, a:active{outline:none;}
.clickable, input[type=button], input[type=submit], button{cursor:pointer;}
button, input, select, textarea{margin:0;}
button{width:auto;overflow:visible;}
body{background: #fff;color:#7a8383;font-size:13px;font-family: 'open_sansregular'; overflow-x:hidden;}
html{font-size:100%; -webkit-text-size-adjust: none;}
.clear{clear:both;}
textarea{resize:none;}
p{ color:#272532; font-size:12px; font-family: 'open_sansregular';}
h1, h2, h3, h4, h5, h6{ font-weight:normal;}

.floatL{ float:left;}
.floatR{ float: right;}

.pdgTop25{ padding-top:25px;}
.pdgLft25{ padding-left:26px;}

.span12{ width:689px;}